<!DOCTYPE html>
<html lang=en dir=ltr>

<head>
  <meta charset=utf-8>
  <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>Oxalis | Component Testing</title>
  <link rel=icon href=/images/favicon.svg type=image/svg+xml>
  <link rel=stylesheet href=/styles/component.css>
  {{#each styles as |stylesheet| }}
    <link rel=stylesheet href='/styles/{{ stylesheet }}.css'>
  {{/each}}
</head>

<body class=component-page>
  {{> (lookup . 'component') data }}
  {{> sprites }}
  {{#each scripts as |script| }}
    <script src='/scripts/{{ script }}.js' type=module async></script>
  {{/each}}
</body>

</html>