# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Project-Specific
**/*.css
**/*.ndjson
**/sprites.hbs
**/style.hbs
**/*-style.hbs
**/*-styles.hbs
.env
.npm
node_modules/
nodemon.json
public/