@import 'Markdown/Markdown.less';
@import 'NavList/NavList.less';
@import 'PageTitle/PageTitle.less';

.projects-page {

  margin-inline: var(--space);

  .date-created {
    margin-inline-start: auto;
  }

  .icon {
    --icon-size: 1em;
    block-size : var(--icon-size);
    inline-size: var(--icon-size);
  }

  .nav-list {
    inline-size    : 100%;
    margin-inline  : auto;
    max-inline-size: var(--measure-sm);
  }

  .project__header {
    align-items   : center;
    flex-direction: row;
  }

  .project-name {
    font-size: x-large;
    padding  : var(--text-padding-sm);
  }

  summary {
    display: list-item;
  }

}
