{{#section 'head'}}
  <link rel=stylesheet href=/styles/Projects.css>
{{/section}}

<main id=main class=projects-page>

  <h1 class=page-title>Projects</h1>

  <ul class='bordered nav-list projects-list'>
    {{#each projects as |project|}}
      <li>
        <a class=link href='https://data.digitallinguistics.io/projects/{{ id }}'>{{ name }}</a>
        <span>Created {{date dateCreated 'long' }}</span>
      </li>
    {{/each}}
  </ul>

</main>
