{{#section 'head'}}
  <link rel=stylesheet href=/styles/Projects.css>
{{/section}}

<main id=main class=projects-page>

  <h1 class=page-title>Projects</h1>

  <ul class='bordered nav-list projects-list'>
    {{#each projects as |project|}}
      <li>This is a project.</li>
    {{/each}}
  </ul>

</main>
