@import 'ColorBlock/ColorBlock.less';
@import 'BoxInput/BoxInput.less';
@import 'DefinitionList/DefinitionList.less';
@import 'MultiLangString/MultiLangString.less';
@import 'Label/Label.less';
@import 'PageTitle/PageTitle.less';
@import 'SectionHeader/SectionHeader.less';
@import 'Transcription/Transcription.less';

.language-page {

  align-items: center;
  gap        : var(--space);
  inline-size: 100%;
  padding    : var(--space-lg);

  .color-block {
    margin-inline  : var(--text-inline-padding);
    max-inline-size: 100%;
  }

  .def-list output {
    font-family: var(--font-mono);
  }

  .error-message {
    margin    : var(--space);
    text-align: center;
  }

  :is(.mls, .txn) {
    font-size: larger;
    padding  : var(--text-padding);
  }

  .metadata {

    --block-color: var(--orange-1);

    output {
      white-space: nowrap;
    }

  }

  .names {

    --block-color : var(--blue-1);
    flex-direction: row;
    flex-wrap     : wrap;
    padding       : var(--space);

    .name {
      flex-grow: 1;
    }

  }

  > section {
    inline-size    : var(--measure);
    max-inline-size: 100%;
  }

  .section-header {
    padding-block: var(--text-block-padding);
  }

  #url {
    overflow-x: auto;
  }

}
