@import 'Bulleted/Bulleted.less';
@import 'BoxInput/BoxInput.less';
@import 'Checkbox/Checkbox.less';
@import 'Cite/Cite.less';
@import 'Code/Code.less';
@import 'DefinitionList/DefinitionList.less';
@import 'Details/Details.less';
@import 'Headword/Headword.less';
@import 'HelpText/HelpText.less';
@import 'Label/Label.less';
@import 'List/List.less';
@import 'Note/Note.less';
@import 'Numbered/Numbered.less';
@import 'PageTitle/PageTitle.less';
@import 'Translation/Translation.less';
@import 'MultiLangString/MultiLangString.less';
@import 'MultiOrthoTranscription/MultiOrthoTranscription.less';
@import 'SectionHeader/SectionHeader.less';
@import 'Tag/Tag.less';
@import 'Transcription/Transcription.less';

// Handle case where the URL has no hash.
body:target #forms {
  display: flex;
}

.lexeme-page {

  @breakpoint: 45em;

  align-self     : center;
  inline-size    : 100%;
  max-inline-size: var(--measure);

  .bib-entry {
    margin-inline-start: 1.5em;
    padding            : var(--text-padding);
    text-indent        : -1.5em;
  }

  .bib-links {
    font-size    : smaller;
    padding-block: var(--text-block-padding-lg);
  }

  .bib-table-link {
    padding: var(--text-padding-lg);
  }

  .citation {
    --tag-color: var(--indigo-1);
  }

  #citation-form {
    padding: var(--text-padding-lg);
  }

  #cross-references {
    align-items: baseline;
    padding    : 0em;
  }

  span#cross-references {
    padding: var(--text-padding);
  }

  .checkbox {
    align-self   : center;
    margin-inline: var(--space-xs);
  }

  :is(.cross-refs-set, .cross-lang-refs-set) {
    flex-direction     : row;
    flex-wrap          : wrap;
    gap                : var(--space-xxxs);
    margin-inline-start: calc(-1 * var(--text-inline-padding-sm));
  }

  :is(.cross-refs-set, .cross-lang-refs-set) li {
    display    : inline;
    white-space: nowrap;
  }

  .cross-lang-refs-set {
    margin-inline-start: 0;
  }

  :is(#date-created, #date-modified) {
    font-family: var(--font-mono);
  }

  .etymology {
    gap: var(--space-xs);
  }

  .form {

    summary {
      align-items        : center;
      margin-inline-start: -3.5em;  // lines up left edge of text
    }

    summary::before {
      margin-inline-end: 1.25em;
    }

  }

  .form-props {
    align-items        : baseline;
    padding-block-start: var(--space-xs);
  }

  #forms {
    flex-direction: row;
    flex-wrap     : wrap;
  }

  .forms-list {
    @media (max-width: 60em) {
      border-radius: 0;
    }
  }

  .forms-section {

    inline-size: 100%;

    .section-header {
      text-align: center;
    }

  }

  .header {

    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-between;

    .gloss {
      padding: var(--text-padding-sm);
    }

    .glosses {
      inline-size: 100%;
      padding    : var(--text-padding);
    }

    .language {
      padding: var(--text-padding-lg);
    }

  }

  .label {
    padding: var(--text-padding);
  }

  .lang-label {
    font-size  : smaller;
    white-space: nowrap;
  }

  #language-autonym {
    align-self: start;
  }

  #language-name {
    align-self: start;
  }

  #lemma {
    padding: var(--text-padding-lg);
  }

  .metadata-props {
    align-items: baseline;
  }

  nav {
    margin-block-start: var(--space);
  }

  .notes {

    --note-spacing: var(--space);

    background-color: var(--teal-1);
    border          : var(--border);
    border-radius   : var(--border-radius);
    box-shadow      : inset var(--box-shadow);
    gap             : var(--note-spacing);
    padding         : var(--note-spacing);

    &:empty {
      border : none;
      display: none;
    }

  }

  .notes-section {

    summary {
      margin-inline-start: -3.25em;
    }

  }

  .page-title {
    align-self : flex-start;
    font-family: var(--font-unicode);
    text-align : left;
  }

  .panel {
    padding-block   : var(--space-xs);
    margin-block-end: var(--space);
  }

  .panel:not(.current, :target) {
    display: none;
  }

  .tags-list {
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : var(--space-xs);
  }

  .transcription {
    padding: var(--text-padding);
  }

  .transcriptions {
    min-inline-size: 50%;
  }

  .section-header {
    padding: var(--text-padding);
  }

  #lexeme-sources .tag {
    --tag-color: var(--teal-1);
  }

  .summary-count {
    font-size: smaller;
  }

  .tab:hover {

    background-color: var(--cyan-1);

    @media (prefers-color-scheme: dark) {
      color: var(--background-color-dark);
    }

  }

  .tab-link {
    padding: var(--text-padding-lg);
  }

  .tabs {
    box-shadow : inset 0em calc(var(--border-width) * -1) var(--border-color);
    font-size  : large;
    inline-size: 100%;
  }

  #tags .tag {
    --tag-color: var(--cyan-1);
  }

  #url {

    background-color: var(--orange-1);
    border          : none;
    font-family     : var(--font-mono);
    margin          : var(--space-xs);
    overflow-x      : auto;
    white-space     : nowrap;

    @media (prefers-color-scheme: dark) {
      color: var(--background-color-dark);
    }

  }

  // small screens
  @media (max-width: @breakpoint) {

    [aria-selected] {
      position: relative;
    }

    [aria-selected]::before {
      background-color  : var(--cyan);
      inset-block-end   : 0;
      content           : '';
      inset-inline-start: 0;
      position          : absolute;
      inset-block-start : 0;
      inline-size       : 0.25em;
    }

    .tab:first-child {
      border-block-start: var(--border);
    }

    .tab:not(:last-child) {
      border-block-end: var(--border);
    }

  }

  // large screens
  @media (min-width: @breakpoint) {

    [aria-selected] {
      box-shadow: inset 0em -0.25em var(--cyan);
    }

    .tabs {
      flex-direction: row;
    }

  }

}
