<nav id=#footer-nav>
  <h2>DLx on the Web</h2>
  <ul>

    <li style='display:inline;padding: 10px'>
        <a href='https://blog.digitallinguistics.io/'>Blog</a>
    </li>

    <li style='display:inline;padding: 10px'>
        <a href='https://github.com/digitallinguistics'>GitHub</a>
    </li>

    <li style='display:inline;padding: 10px'>
        <a href='https://twitter.com/digitalling'>Twitter</a>
    </li>

    <li style='display:inline;padding: 10px'>
        <a href='https://digitallinguistics.io//'>Website</a>
    </li>

  </ul>
</nav>
