<footer>

  <div>
    <a href='https://github.com/digitallinguistics/data-explorer'><svg aria-hidden=true><use href=#octicon /></use></svg></a>
    <a href='https://github.com/digitallinguistics/data-explorer'>View source code on GitHub</a>
  </div>

  <nav id=#footer-nav>
    <h2>DLx on the Web</h2>
    <ul>

      <li>
        <a href='https://blog.digitallinguistics.io/'>Blog</a>
      </li>

      <li>
        <a href='https://github.com/digitallinguistics'>GitHub</a>
      </li>

      <li>
        <a href='https://twitter.com/digitalling'>Twitter</a>
      </li>

      <li>
        <a href='https://digitallinguistics.io//'>Website</a>
      </li>

    </ul>
  </nav>

</footer>