@import (reference) 'global/utilities.less';

@footer-breakpoint: 35em;

.footer {

  background-color: var(--blue);
  color           : white;
  padding         : var(--space);

  &__gh-link {
    padding: var(--text-padding);
  }

  &__github {
    align-items: center;
    display    : none;
  }

  &__nav {
    align-items: center;
  }

  &__nav-header {
    font-weight      : 500;
    padding-block-end: 0.5em;
  }

  &__nav-item {
    padding: var(--text-padding);
  }

  &__nav-list {
    flex-direction: row;
  }

  &__octicon {
    block-size : 2em;
    inline-size: 2em;
  }

  &__octicon-text {
    .visually-hidden;
  }

  @media (min-width: @footer-breakpoint) {

    align-items    : flex-end;
    flex-direction : row;
    justify-content: space-evenly;

    .footer__github {
      display: flex;
    }

  }

}