<footer class=footer>

  <div class=footer__github>
    <a href='https://github.com/digitallinguistics/data-explorer'><svg class=footer__octicon aria-hidden=true><use href=#octicon-black /></use></svg></a>
    <a class='footer__gh-link link' href='https://github.com/digitallinguistics/data-explorer'>View source code on GitHub</a>
  </div>

  <nav class=footer__nav>
    <h2>DLx on the Web</h2>
    <ul class=footer__nav-list>

      <li>
        <a class=link href='https://blog.digitallinguistics.io/'>Blog</a>
      </li>

      <li>
        <a class=link href='https://github.com/digitallinguistics'>GitHub</a>
      </li>

      <li>
        <a class=link href='https://twitter.com/digitalling'>Twitter</a>
      </li>

      <li>
        <a class=link href='https://digitallinguistics.io/'>Website</a>
      </li>

    </ul>
  </nav>

</footer>