<nav id=help-nav class=help-nav>
  <h2>Help</h2>
  <ul>
    <li><a href='https://github.com/digitallinguistics/data-explorer/discussions/categories/announcements'>What's
        New</a></li>
    <li><a href='https://github.com/digitallinguistics/data-explorer/discussions/categories/q-a'>Visit the Q&amp;A</a>
    </li>
    <li><a href='https://github.com/digitallinguistics/data-explorer/issues/new?{{ featureRequestQuery }}'>Request a
        Feature</a></li>
    <li><a href='https://github.com/digitallinguistics/data-explorer/issues/new?{{ bugReportQuery }}'>Report an
        Issue</a></li>
  </ul>
</nav>