<!DOCTYPE html>
<html lang=en dir=ltr>

  {{!-- critical metadata --}}
  <meta charset=utf-8>
  <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>Oxalis | {{ page }}</title>

  {{!-- metadata --}}
  <meta name=author content='Daniel W. Hieber'>
  <meta name=description content='The Oxalis portal for viewing, searching, and aggregating linguistic data'>
  <meta name=keywords content='linguistics, Digital Linguistics, digital humanities, corpus linguistics, corpora, corpus, lexicography, language documentation, language, documentary linguistics, descriptive linguistics, data science'>
  <meta name=rating content=general>
  <meta name=robots content='index,follow'>

  {{!-- linked metadata --}}
  <link rel=author href=https://danielhieber.info>
  <link rel=license href=https://github.com/digitallinguistics/data-explorer/blob/main/LICENSE.md>

  <body>
    {{{ body }}}
  </body>

</html>