<nav class=main-nav>

  <label for=main-nav__toggle>
    <svg aria-hidden=true><use href=#menu></svg>
    <h2>Menu</h2>
  </label>

  <input id=main-nav__toggle type=checkbox>

  <ul>

    <li {{#if Home}}class=current{{/if}}>
      <a class=nav-link href='/' {{#if Home}} aria-current=page {{/if}}>Home</a>
    </li>

    <li {{#if Languages}}class=current{{/if}}>
      <a class=nav-link href=/languages {{#if Languages}} aria-current=page {{/if}}>Languages</a>
    </li>

  </ul>

</nav>