<nav id=nav class=nav>
  <ul>

    <li>
      {{#if Home}}
        <a href=# aria-current=page>Home</a>
      {{else}}
        <a href=/>Home</a>
      {{/if}}
    </li>

    <li>
      {{#if Languages}}
        <a href=# aria-current=page>Languages</a>
      {{else}}
        <a href=/languages>Languages</a>
      {{/if}}
    </li>

  </ul>
</nav>