{{#if loggedIn}}
  <a class='nav-link user-nav' href=/.auth/logout?post_logout_redirect_uri={{ originalURL }}>Log out</a>
{{else}}
  <a class='nav-link user-nav' href=/.auth/login/facebook?post_login_redirect_uri={{ originalURL }}>Log in</a>
{{/if}}

