body {

  font-family   : var(--font);
  line-height   : 1.5;
  min-block-size: 100vh;

  @media (max-width: 45em) {
    font-size: 125%;
  }

}

main {
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color           : var(--text-color-dark);
  }
}
