<footer class=footer>

  <div class=footer__github>
    <a href='https://github.com/digitallinguistics/data-explorer'>
      <span class=footer__octicon-text>View source code on GitHub</span>
      <svg class=footer__octicon aria-hidden=true><use href=#octicon /></use></svg>
    </a>
    <a class='nav-link footer__gh-link' href='https://github.com/digitallinguistics/data-explorer'>View source code on GitHub</a>
  </div>

  <nav class=footer__nav>
    <h2 class=footer__nav-header>DLx on the Web</h2>
    <ul class=footer__nav-list>

      <li>
        <a class='footer__nav-item nav-link' href='https://blog.digitallinguistics.io/'>Blog</a>
      </li>

      <li>
        <a class='footer__nav-item nav-link' href='https://github.com/digitallinguistics'>GitHub</a>
      </li>

      <li>
        <a class='footer__nav-item nav-link' href='https://twitter.com/digitalling'>Twitter</a>
      </li>

      <li>
        <a class='footer__nav-item nav-link' href='https://digitallinguistics.io/'>Website</a>
      </li>

    </ul>
  </nav>

</footer>
