<nav class=main-nav>

  <button aria-hidden=true class=js-main-nav__button>
    <svg><use href=#menu></svg>
    <span class=visually-hidden>Main Menu</span>
  </button>

  <ul class=js-main-nav__ul>

    <li {{#if Home }}class=current{{/if}}>
      <a class=nav-link href='/' {{#if Home }} aria-current=page {{/if}}>Home</a>
    </li>

    <li {{#if Projects }}class=current{{/if}}>
      <a class=nav-link href=/projects {{#if Projects }} aria-current=page {{/if}}>Projects</a>
    </li>

    <li {{#if Languages }}class=current{{/if}}>
      <a class=nav-link href=/languages {{#if Languages }} aria-current=page {{/if}}>Languages</a>
    </li>

  </ul>

</nav>