<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>
    {{> head }}
  </head>

  <body>
    {{> skip-link }}
    {{> construction }}
    {{> navbar }}
    {{{ body }}}{{!-- actually <main> but express-handlebars calls this variable 'body' --}}
    {{> footer }}
    {{> sprites }}
    <script src=/scripts/main-nav.js async type=module></script>
    {{{sections.foot}}}{{!-- foot content for specific pages --}}
  </body>

</html>
