@import 'help-nav.less';
@import 'main-nav.less';
@import 'user.less';

@nav-breakpoint: 50em;

.navbar {

  background-color: var(--blue);
  color           : white;
  flex-direction  : row;

  // small screens
  // vertically aligns content with user login
  @media (max-width: @nav-breakpoint) {

    .help-nav {
      padding-block: 0.075em;
    }

    .main-nav {
      padding-block: 0.125em;
    }

  }

  .site-logo {

    display: flex;

    svg {
      block-size : 1.5em;
      inline-size: 1.5em;
      margin     : 0.5em;
    }

    // small screens
    @media (max-width: @nav-breakpoint) {
      left     : 50%;
      position : absolute;
      transform: translateX(-50%);
    }

  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--blue-6);
    color           : var(--text-color-dark);
  }

}
