{{#section 'head'}}
  <link rel=stylesheet href=/styles/Lexemes.css>
{{/section}}

<main id=main class=lexemes-page>

  <h1 class=page-title>Lexemes: {{ summaryName }}</h1>

  <div class=table-wrapper>
    {{> Lexemes/LexemesTable }}
  </div>

</main>