{{#section 'head'}}
  <link rel=stylesheet href=/styles/Lexemes.css>
{{/section}}

<main id=main class=lexemes-page>
  <h1>Lexemes</h1>
</main>

{{#section 'foot'}}
  <script src=/scripts/Lexemes.js async type=module></script>
{{/section}}