@import 'Button/Button.less';
@import 'BoxInput/BoxInput.less';
@import 'Morphophonemic/Morphophonemic.less';
@import 'Numbered/Numbered.less';
@import 'PageNav/PageNav.less';
@import 'PageTitle/PageTitle.less';
@import 'Table/Table.less';

@breakpoint: 45em;

.lexemes-page {

  #quicksearch {
    flex-grow: 1;
  }

  .lexemes-table {

    :is(.date-created, .date-modified) {
      font-family: var(--font-mono);
    }

    .lemma {
      font-family: var(--font-unicode);
    }

  }

  .search-form {
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : 1em;
  }

  .table-wrapper {
    max-inline-size: 100%;
    overflow-x     : auto;
  }

}
