<section class=lexical-entry>

  <h1>{headword} {gloss}</h1>

  <nav>
    <ul class=tabs role=tablist>
      <li role=tab class=tab><a class=tab-link id=form-link href=#form aria-selected=true>Form</a></li>
      <li role=tab class=tab><a class=tab-link id=meaning-link href=#meaning>Meaning</a></li>
      <li role=tab class=tab><a class=tab-link id=metadata-link href=#metadata>Metadata</a></li>
    </ul>
  </nav>

  <section class=panel role=tabpanel id=form aria-labelledby=form-link>
    <h1>Form</h1>
    <p>Ex occaecat proident tempor minim anim sunt aliquip elit do. Veniam sint cupidatat dolor eiusmod dolor ipsum culpa commodo duis consectetur aliqua. Amet eu reprehenderit commodo do cillum do sint. Ad sit reprehenderit excepteur nostrud labore sunt ea Lorem anim anim. Tempor culpa adipisicing do veniam id.</p>
  </section>

  <section class=panel role=tabpanel id=meaning aria-labelledby=meaning-link>
    <h1>Meaning</h1>
    <p>Aliquip dolor incididunt nulla velit. Exercitation fugiat elit nostrud ex. Enim pariatur laboris laboris commodo cupidatat fugiat.</p>
  </section>

  <section class=panel role=tabpanel id=metadata aria-labelledby=metadata-link>
    <h1>Metadata</h1>
    <p>Enim minim et cillum eiusmod amet eu mollit ut excepteur proident. Officia sit enim proident aute dolore aliqua cillum mollit Lorem consectetur. Consectetur ea ex adipisicing minim exercitation commodo pariatur incididunt laborum id ad. Fugiat ea laborum fugiat laboris irure est eu ad proident et. Veniam elit nostrud in cillum laboris consectetur et enim nostrud in. Proident adipisicing in in eu laborum dolor veniam duis consequat laborum ex qui irure eu. Dolore cupidatat sint et ullamco adipisicing duis nostrud fugiat consequat laborum.</p>
  </section>

</section>