.language-details {

  @breakpoint: 45em; // should be the same as the Languages page breakpoint

  --icon-margin: var(--space-xs);
  --icon-size  : 1em;

  align-items     : stretch;
  background-color: white;
  gap             : var(--space);

  .block-icon {
    display: none;
  }

  .codes {
    dd {
      font-family: var(--font-mono);
    }
  }

  .def-list {

    dd {
      padding: var(--text-padding-sm);
    }

    dt {
      font-weight: bold;
      padding    : var(--text-padding-sm);
    }

  }

  h3 {
    font-weight: bold;
    padding    : var(--text-padding-sm);
  }

  label {
    font-weight: bold;
    padding    : var(--text-padding-sm);
  }

  :is(.codes, .description, .metadata, .names) {
    margin-inline: var(--space-xs);
  }

  :is(.codes, .metadata) .def-list {
    display              : grid;
    grid-template-columns: 1fr 1fr;
  }

  .mls {
    font-size: larger;
    padding  : var(--text-padding);
  }

  .notes__notes-container {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .sci-name-label {
    font-size: larger;
  }

  .txn {
    padding: var(--text-padding);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-color-dark);
  }

  // large screens
  @media (min-width: @breakpoint) {

    display      : grid;
    grid-template:
      'names names metadata'
      'codes codes codes'
      'description description description'
      'notes notes notes'
      / 1fr 1fr 1fr;
    inline-size      : var(--measure);
    padding-block-end: var(--space);
    row-gap          : var(--space);

    .block-icon {
      block-size : var(--icon-size);
      // display    : block;
      display    : none;
      inline-size: var(--icon-size);
      margin     : var(--icon-margin);
      position   : absolute;
      transform  : translateX(calc(-100% - (var(--icon-margin) * 2)));
    }

    .codes {

      grid-area: codes;

      .def-list {
        grid-template-columns: repeat(3, 1fr 1fr);
      }

    }

    .description {
      grid-area: description;
    }

    .metadata {

      grid-area: metadata;

      .def-list {
        grid-template-columns: 1fr auto;
      }

    }

    .names {

      grid-area: names;

      label {
        padding: var(--text-padding);
      }

    }

    .notes-container {
      grid-area: notes;
    }

  }

}
