@import 'LanguagesTable/LanguagesTable.less';
@import 'PageNav/PageNav.less';
@import 'PageTitle/PageTitle.less';
@import 'Table/Table.less';

.languages-page {

  gap: var(--space);

  .table-wrapper {
    max-inline-size: 100%;
    overflow-x     : auto;
  }

}
