<section class=language-details>

  <header>

    <svg aria-hidden=true><use href=#text></svg>

    <label>Scientific Name:</label>
    <span>{ name }</span>

    <label>Autonym:</label>
    <span>{ autonym }</span>

  </header>

  <div class=metadata>

    <svg aria-hidden=true><use href=#time-past></svg>

    <label>Date Created:</label>
    <span>{ dateCreated }</span>

    <label>Date Modified:</label>
    <span>{ dateModified }</span>

  </div>

  <div class=codes>

    <svg aria-hidden=true><use href=#key></svg>

    <label>Glottocode:</label>
    <span>{ glottocode }</span>

    <label>ISO 639-3 Code:</label>
    <span>{ iso }</span>

    <label>Abbreviation:</label>
    <span>{ abbreviation }</span>

  </div>

  <article class=description>
    <svg aria-hidden=true><use href=#document></svg>
    <h3>Description</h3>
    <div>
      { description }
    </div>
  </article>

  <section class=notes>
    <svg aria-hidden=true><use href=#edit></svg>
    <h3>Notes</h3>
    <ul>{ Notes }</ul>
  </section>

</section>