@import 'LanguagesTable/LanguagesTable.less';
@import 'PageTitle/PageTitle.less';
@import 'Table/Table.less';

.languages-page {

  .page-description {
    max-inline-size: var(--measure);
    margin-inline  : auto;
    text-align     : center;
    padding        : var(--text-padding-lg);
  }

  .table-wrapper {
    max-inline-size: 100%;
    overflow-x     : auto;
  }

}
