{{#section 'head'}}
  <link rel=stylesheet href=/styles/Languages.css>
{{/section}}

<main id=main class=languages-page>

  <h1 class=page-title>Languages</h1>

  <ul class='languages-list nav-list'>
    {{#each languages}}
      <li {{#if current}} class=current {{/if}}><a href=/languages/{{ id }}>{{mls name defaultAnalysisLanguage }}</a></li>
    {{/each}}
  </ul>

  {{#if language}}
    {{> Languages/LanguageDetails language }}
  {{else}}
    <section class=language-details></section>
  {{/if}}

</main>