<section class=language-details>

  <div class=codes>

    <dl class=def-list>

      <dt class=label>Glottocode:</dt>
      <dd>{{ glottocode }}</dd>

      <dt class=label>ISO 639-3 Code:</dt>
      <dd>{{ iso }}</dd>

      <dt class=label>Abbreviation:</dt>
      <dd>{{ abbreviation }}</dd>

    </dl>

  </div>

  <article class=description>
    <h3 class=label>Description</h3>
    <div class=md>
      {{{ description.html }}}
    </div>
  </article>

  <section class=notes-container>
    {{> Notes/Notes notes }}
  </section>

</section>