{{#section 'head'}}
  <link rel=stylesheet href=/styles/Languages.css>
{{/section}}

<main id=main class=languages-page>

  <h1 class=page-title>Languages</h1>

  {{> LanguagesTable/LanguagesTable }}

</main>