{{#section 'head'}}
  {{> Languages/Languages-style }}
{{/section}}

<main class=languages-page>

  <h1 class=page-title>Languages</h1>

  <ul class='languages-list nav-list'>
    {{#each languages}}
      <li>{{mls name defaultAnalysisLanguage}}</li>
    {{/each}}
  </ul>

</main>