{{#section 'head'}}
  <link rel=stylesheet href=/styles/Languages.css>
{{/section}}

<main id=main class=languages-page>

  <h1 class=page-title>{{ caption }}</h1>

  <p class=page-description>
    {{#if project}}
      This page shows all the languages associated with the {{ project.name }} project.
    {{else}}
      This page shows all languages that you have permissions to view. A language may appear multiple times if more than one user has created a language with that name.
    {{/if}}
  </p>

  <div class=table-wrapper>
    {{> LanguagesTable/LanguagesTable }}
  </div>

</main>