{{#section 'head'}}
  <link rel=stylesheet href=/styles/Languages.css>
{{/section}}

<main id=main class=languages-page>

  <h1 class=page-title>{{ title }}</h1>

  <div class=table-wrapper>
    {{> LanguagesTable/LanguagesTable }}
  </div>

</main>