{{#section 'head'}}
  {{> Design-styles }}
{{/section}}

<main id=main class=design-page>

  <h1 class=page-title>Design</h1>

  <nav class=design-nav>
    <h2 class=block-header>Components</h2>
    <ol>
      <li><a class=link href=/design/language-details>Language Details</a></li>
      <li><a class=link href=/design/lexical-entry>Lexical Entry</a></li>
      <li><a class=link href=/design/multi-lang-string>MultiLangString</a></li>
      <li><a class=link href=/design/note>Note</a></li>
      <li><a class=link href=/design/notes>Notes</a></li>
      <li><a class=link href=/design/transcription>Transcription</a></li>
      <li><a class=link href=/design/user-component>User</a></li>
    </ol>
  </nav>

  <div class=wrapper>

    {{#if language-details }}
      {{> Languages/LanguageDetails language }}
    {{/if}}

    {{#if lexical-entry }}
      {{> Lexemes/LexicalEntry }}
    {{/if}}

    {{#if multi-lang-string }}
      {{> MultiLangString/MultiLangString language.name }}
    {{/if}}

    {{#if note}}
      {{> Note/Note language.notes.[0] }}
    {{/if}}

    {{#if notes}}
      {{> Notes/Notes language.notes }}
    {{/if}}

    {{#if transcription }}
      {{> Transcription/Transcription autonym=language.autonym lang=language.iso }}
    {{/if}}

    {{#if user-component }}

      <h3 class=section-header>Logged In</h3>
      {{> user loggedIn=true }}

      <h3 class=section-header>Logged Out</h3>
      {{> user loggedIn=false }}

    {{/if}}

  </div>

</main>