{{#section 'head'}}
  {{> 500/500-style }}
{{/section}}

<main class=server-error-page>

  <h1 class=page-title>500: Server Error</h1>

  <p>Please consider <a class=link href='https://github.com/digitallinguistics/data-explorer/issues/new?{{ bugReportQuery }}'>opening an issue on GitHub</a> to report this error.</p>

</main>
