<article class=note>

  <header class=note__header>
    <dl class=note__metadata>

      <div class=note__prop>
        <dt class=note__source-label>Source</dt>
        <dd class=note__source>{{ source.abbreviation }}</dd>
      </div>

      <div class=note__prop>
        <dt class=note__label>Date Created:</dt>
        <dd class=note__value><time>{{date dateCreated }}</time></dd>
      </div>

      <div class=note__prop>
        <dt class=note__label>Date Modified:</dt>
        <dd class=note__value><time>{{date dateModified }}</time></dd>
      </div>

    </dl>
  </header>

  <div class=note__content>
    <p class=note__text>{{ text }}</p>
  </div>

</article>