{{#section 'head'}}
  {{> 404-styles }}
{{/section}}

<main id=main class=not-found-page>

  <h1 class=page-title>404: Not Found</h1>

  <p>If you think you've reached this page in error, please <a class=link href='https://github.com/digitallinguistics/data-explorer/issues/new?{{ bugReportQuery }}'>open an issue on GitHub</a>.</p>

</main>
