{{#section 'head'}}
  <link rel=stylesheet href=/styles/Home.css>
{{/section}}

<main id=main class=home-page>

  <h1 class=page-title>Oxalis</h1>

  <p>Welcome to the Oxalis portal for viewing, searching, and aggregating data across multiple languages and projects. The goal of Oxalis
  is to enable data access for both researchers and speakers, as well as large-scale, data-intensive projects, especially
  those in typology.</p>

</main>
