<ul class=notes>
  {{~#each this as |note|}}
    <li class=note-item>
      <button class=note-button aria-label='Show note' type=button>
        <svg>
          <use href=#sticky-note>
        </svg>
      </button>
      {{> Note/Note note }}
    </li>
  {{/each~}}
</ul>