<ul class=notes>{{!-- comments avoid whitespace so that the :empty selector works
  --}}{{#each this as |note|}}
    <li class=note-item>
      <button class=note-button aria-label='Show note' type=button>
        <svg>
          <use href=#sticky-note>
        </svg>
      </button>
      {{> Note/Note note }}
    </li>
  {{/each}}{{!--
--}}</ul>