@import 'BoxInput/BoxInput.less';
@import 'ColorBlock/ColorBlock.less';
@import 'DefinitionList/DefinitionList.less';
@import 'Label/Label.less';
@import 'LanguagesTable/LanguagesTable.less';
@import 'Markdown/Markdown.less';
@import 'PageNav/PageNav.less';
@import 'PageTitle/PageTitle.less';
@import 'SectionHeader/SectionHeader.less';
@import (reference) 'utilities.less';

.project-page {

  align-items: center;
  gap        : var(--space);
  inline-size: 100%;
  padding    : var(--space-lg);

  .access {
    --block-color: var(--yellow-1);
    padding      : var(--text-padding-lg);
  }

  .color-block {
    margin-inline  : var(--text-inline-padding);
    max-inline-size: 100%;
  }

  dd {
    font-family: var(--font-mono);
  }

  .languages-section {

    max-inline-size: 100%;

    &__header {
      align-self     : center;
      max-inline-size: 100%;
      inline-size    : 60rem;
      text-align     : center;
    }

  }

  .languages-table caption {
    .visually-hidden;
  }

  .metadata {

    --block-color: var(--orange-1);

    output {
      font-family: var(--font-mono);
      white-space: nowrap;
    }

  }

  .readme {
    --block-color: var(--cyan-1);
  }

  > section:not(.languages-section) {
    inline-size    : var(--measure);
    max-inline-size: 100%;
  }

  .section-header {
    padding: var(--text-padding);
  }

  .statistics {
    --block-color: var(--green-1);
  }

  .table-wrapper {
    max-inline-size: 100%;
    overflow-x     : auto;
  }

  #url {
    overflow-x: auto;
  }

}
