@import 'BoxInput/BoxInput.less';

.project-details {

  inline-size    : var(--measure);
  max-inline-size: var(--measure);

  #project-url {
    flex-grow    : 1;
    margin-inline: var(--space);
  }

  .project-url-field {
    align-items   : baseline;
    flex-direction: row;
  }

}
