@import 'BoxInput/BoxInput.less';
@import 'ColorBlock/ColorBlock.less';
@import 'Label/Label.less';
@import 'Markdown/Markdown.less';
@import 'PageTitle/PageTitle.less';
@import 'Project/ProjectDetails.less';
@import 'SectionHeader/SectionHeader.less';

.project-page {

  align-items: center;
  inline-size: 100%;

  .error-message {
    margin    : var(--space);
    text-align: center;
  }

  .project-details {
    max-inline-size: min(var(--measure), 100%);
    padding        : var(--space);
  }

}
