@import 'BoxInput/BoxInput.less';
@import 'ColorBlock/ColorBlock.less';
@import 'DefinitionList/DefinitionList.less';
@import 'Label/Label.less';
@import 'LanguagesTable/LanguagesTable.less';
@import 'Markdown/Markdown.less';
@import 'PageTitle/PageTitle.less';
@import 'SectionHeader/SectionHeader.less';
@import (reference) 'utilities.less';

.project-page {

  align-items: center;
  inline-size: 100%;
  padding    : var(--space);

  .access {
    --block-color: var(--yellow-1);
    padding      : var(--text-padding-lg);
  }

  .color-block {
    margin-inline: var(--text-inline-padding);
  }

  dd {
    font-family: var(--font-mono);
  }

  .error-message {
    margin    : var(--space);
    text-align: center;
  }

  .languages-section {

    max-inline-size: 100%;

    &__header {
      align-self     : center;
      max-inline-size: 100%;
      inline-size    : 60rem;
    }

  }

  .languages-table caption {
    .visually-hidden;
  }

  .metadata {
    --block-color: var(--teal-1);
  }

  // label for project URL
  [for='project-url'] {
    padding: var(--text-padding);
  }

  #project-url {
    flex-grow    : 1;
    margin-inline: var(--space);
  }

  .project-url-field {
    --block-color : var(--orange-1);
    align-items   : baseline;
    flex-direction: row;
  }

  .readme {
    --block-color: var(--cyan-1);
  }

  > section:not(.languages-section), header {
    inline-size    : var(--measure);
    max-inline-size: 100%;
  }

  .section-header {
    padding-block: var(--text-block-padding);
  }

  .statistics {
    --block-color: var(--blue-1);
  }

  .table-wrapper {
    max-inline-size: 100%;
    overflow-x     : auto;
  }

}
