.project-details {

  inline-size    : var(--measure);
  max-inline-size: var(--measure);

  // label for project URL
  [for='project-url'] {
    padding: var(--text-padding);
  }

  #project-url {
    flex-grow    : 1;
    margin-inline: var(--space);
  }

  .project-url-field {
    align-items   : baseline;
    flex-direction: row;
  }

  .section-header {
    padding-block: var(--text-block-padding);
  }

  .statistics {

    display              : grid;
    grid-template-columns: 1fr 1fr;
    inline-size          : fit-content;

    :is(dt, dd) {
      padding: var(--text-padding);
    }

  }

}
