{{#section 'head'}}
  <link rel=stylesheet href=/styles/ItemNotFound.css>
{{/section}}

<main id=main class=item-not-found>

  <h1 class=page-title>404: Item Not Found</h1>

  <p class=error-message>The requested ID does not exist.</p>

</main>